nav(role="navigation").navbar.navbar-default.navbar-inverse.navbar-fixed-top
	div.container-fluid
		div.navbar-header
			button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="#").navbar-brand 某管理系统

		div.collapse.navbar-collapse#bs-example-navbar-collapse-1
			ul.nav.navbar-nav
				li.active
					a(href="#") 首页
				li.dropdown
					a(href="#",data-toggle="dropdown").dropdown-toggle 
						span 功能
						span.caret
					ul(role="menu").dropdown-menu
						li.dropdown-header 业务功能
						li
							a(href="#") 信息建立
						li
							a(href="#") 信息建立
						li
							a(href="#") 信息建立
						li.divider
						li.dropdown-header 系统功能
							a(href="#") 设置
				li
					a(href="#") 帮助
