header
  div#logo
    a(href='/')
  nav#topnav.topnav
    a(href='/')#topnav_current
      span 首页
      span.en index
    a(href='/')
      span 文章
      span.en article
    a(href='/')
      span 关于我
      span.en about
    a(href='/')
      span 关于我
      span.en about
    a(href='/')
      span 关于我
      span.en about
    a(href='/')
      span 关于我
      span.en about