doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/style/base.css", rel="stylesheet")
		link(href="/style/new.css", rel="stylesheet")
	body
		include ../includes/header
		block content
			article.blogs
				h1.t_nav
					span 你当前的位置
				div.index_about
					h2.c_titile 爱情不容有错，即使错了那就重来
					p.box_c
						span 发布时间：2013-09-08
						span clp
					ul.infos
						p 进一好友空间，再一次看到她置顶的那一篇《他和她的故事》爱情在他俩的生活中经历了不少分分合合，但最后俩人还是走在了一起。当今天再一次阅读的时候，我没有第一次那么感性，我注重他们俩曲折的过程，其中出现过第三者...
						p 进一好友空间，再一次看到她置顶的那一篇《他和她的故事》爱情在他俩的生活中经历了不少分分合合，但最后俩人还是走在了一起。当今天再一次阅读的时候，我没有第一次那么感性，我注重他们俩曲折的过程，其中出现过第三者...
						p 进一好友空间，再一次看到她置顶的那一篇《他和她的故事》爱情在他俩的生活中经历了不少分分合合，但最后俩人还是走在了一起。当今天再一次阅读的时候，我没有第一次那么感性，我注重他们俩曲折的过程，其中出现过第三者...
						p 进一好友空间，再一次看到她置顶的那一篇《他和她的故事》爱情在他俩的生活中经历了不少分分合合，但最后俩人还是走在了一起。当今天再一次阅读的时候，我没有第一次那么感性，我注重他们俩曲折的过程，其中出现过第三者...
						p 进一好友空间，再一次看到她置顶的那一篇《他和她的故事》爱情在他俩的生活中经历了不少分分合合，但最后俩人还是走在了一起。当今天再一次阅读的时候，我没有第一次那么感性，我注重他们俩曲折的过程，其中出现过第三者...
					div.keybq
						p
							span 关键字词:爱情,犯错,原谅,分手
					div.nextinfo
						p 上一篇
							a(href='/') 程序员应该如何高效的工作学习
						p 下一篇
							a(href='/') 程序员应该如何高效的工作学习
					div.otherlink
						h2 相关文章
							ul
								li
									a(href='/') 现在，我相信爱情！
								li
									a(href='/') 现在，我相信爱情！
								li
									a(href='/') 现在，我相信爱情！
								li
									a(href='/') 现在，我相信爱情！
								li
									a(href='/') 现在，我相信爱情！
								li
									a(href='/') 现在，我相信爱情！
				aside.right
						div.news
						h3
							p 最新
								span 文章
						ul.rank
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
						h3.ph
							p 点击
								span 排行
						ul.paih
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
						h3.links
							p 友情
								span 链接
						ul.website
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
							li
								a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
		include ../includes/footer
