extends ../layout

block content
	article
		h2.title_tj
			p 文章
				span 推荐
		div.bloglist.left
			h3 程序员请放下你的技术情节，与你的同伴一起进步
			figure
				img(src='../images/001.png')
			ul
				p 如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...
				a(href='/').readmore 阅读全文
			p.dateview
				span 2014/1/1
				span frank
				span 个人博客
					a(href='/') 程序人生
			h3 程序员请放下你的技术情节，与你的同伴一起进步
			figure
				img(src='../images/001.png')
			ul
				p 如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...
				a(href='/').readmore 阅读全文
			p.dateview
				span 2014/1/1
				span frank
				span 个人博客
					a(href='/') 程序人生
			h3 程序员请放下你的技术情节，与你的同伴一起进步
			figure
				img(src='../images/001.png')
			ul
				p 如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话， 那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展...
				a(href='/').readmore 阅读全文
			p.dateview
				span 2014/1/1
				span frank
				span 个人博客
					a(href='/') 程序人生
		aside.right
			div.weather
				iframe(width="250",scrolling="no",height="60",frameborder="0",allowtransparency="true",src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1")
			div.news
			h3
				p 最新
					span 文章
			ul.rank
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
			h3.ph
				p 点击
					span 排行
			ul.paih
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
			h3.links
				p 友情
					span 链接
			ul.website
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板
				li
					a(href="/",title="Column 三栏布局 个人网站模板",target="_blank") Column 三栏布局 个人网站模板

	