doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/style/base.css", rel="stylesheet")
		link(href="/style/mood.css", rel="stylesheet")
	body
		include ../includes/header
		block content
			div.moodlist
				h1.t_nav
					span 我的项目介绍
					a(href='/') 网站首页
				div.bloglist
					ul.arrow_box
						div.sy
							img(src="../images/001.png")
							p 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。
							span.dateview 2014-1-1 
					ul.arrow_box
						div.sy
							img(src="../images/001.png")
							p 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。
							span.dateview 2014-1-1 
					ul.arrow_box
						div.sy
							img(src="../images/001.png")
							p 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。
							span.dateview 2014-1-1 
					ul.arrow_box
						div.sy
							img(src="../images/001.png")
							p 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。
							span.dateview 2014-1-1 
		include ../includes/footer