extends ../../adminlayout

block content
	div.container
		div.row
			form
				div.form-group
					label Email address
					input(type="email",placeholder="Enter email").form-control
				div.form-group
					label Email address
					input(type="email",placeholder="Enter email").form-control
				div.form-group
					label Email address
					input(type="email",placeholder="Enter email").form-control
				div.form-group
					label Email address
					input(type="email",placeholder="Enter email").form-control
				div.form-group
					label Email address
					input(type="email",placeholder="Enter email").form-control
				div.form-group
					label 主要内容
					input(type="file")
					p.help-block Example block-level help text here.
				div.form-group
					label 主要内容
					textarea.form-control
				button(type='submit').btn.btn-default Submit
				

