extends ../../adminlayout

block content
	script(src='../libs/angular/angular.js')						
	script(src='../script/admin/index.js')
	div(ng-app='indexapp').container-fluid
		div.row
			div(ng-controller='articleList').col-sm-12.col-md-12.main
				h1.page-header 管理控制台
				p
					div.btn-group
						span 文章分类：
					div.btn-group
						select.form-control.cate
							each item in categories
								option(value='#{item._id}') #{item.name}
					div.btn-group
						button(href="#",ng-click='load()').btn.btn-primary 获取
					div.btn-group
						&nbsp;&nbsp;
					div.btn-group
						a(href="../admin/article").btn.btn-primary 添加新文章
				div.row
					div.col-md-12
						div.panel.panel-primary
							div.panel-heading 
								h3.panel-title 文章列表
							div.panel-body
								table.table.table-striped
									thead
										tr
											th 文章名
											th 发布时间
											th 操作
									tbody(ng-repeat="item in lists")
										tr
											td(ng-bind='item.title')
											td(ng-bind='item.meta.createAt')
											td:a(target="_blank", href="{{item._id}}") 查看
										
						ul.pagination
							li
								a(href='#',aria-label="Previous")
									span(aria-hidden="true") &laquo;
							li
								a(href='#') 1
							li
								a(href='#') 2
							li
								a(href='#') 3
							li
								a(href='#') 4
							li
								a(href='#') 5
							li
								a(href='#',aria-label="Next")
									span(aria-hidden="true") &raquo;
	

